body
{
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
}
header
{
	position: relative;
	z-index:100;
}

.cuadrito{
    width: 100px;
    height: 100px;
    border: solid 1px;
    float: left;
    font-size: 25px;
    text-align: center;
    
}
#gameContainer{
    width: 300px;
    border: solid 0px;
    margin: auto;   
}

section
{
	background-image: url(../img/41715590-El-gato-y-el-patr-n-de-dibujos-animados-lindo-de-la-rata-del-vector-Ilustraci-n-gato-y-rata-Patr-n-t-Foto-de-archivo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display: none;
	opacity:0;
}

.visible
{
	opacity:1;
	display: table;
}

.content
{
	background: rgba(0, 255, 0, 0.1);
	display:table-cell;
	vertical-align: middle;
}
#saludo
{

}
#saludo h1
{
	margin-bottom:120px;
}
#btn-inicio, #btn-historial {
    color: #fff;
}
#btn-inicio:hover, #btn-historial:hover {
    background-color: #E6FFE6;
    color:#000;
}